

<div>
  {{'DayInWeek'|Translate}}: {{details.DayInWeekC}}<br>
  {{'FromHourC'|Translate}}: {{details.FromHourC}}<br>
  {{'UntilHourC'|Translate}}: {{details.UntilHourC}}<br>
  {{'AmountHour'|Translate}}: {{details.AmountHour}}<br>
  {{'MaxStudents'|Translate}}: {{details.MaxStudents}}<br>
  {{'MinStudent'|Translate}}: {{details.MinStudents}}<br>
  {{'PricePerHour'|Translate}}: {{details.PricePerHour}}<br>
  {{'TeacherName'|Translate}}: {{teacher.FirstNameT }}{{teacher.LastNameT }}<br>
  {{OpenCoursString}}
</div>