<!-- <div> -->
<!-- <div>
  <div *ngIf="s=='HE'"> <img src="./assets/images/USA.png" (click)="FuncTranslate('EN')" /></div>
   <div *ngIf="s=='EN'"><img  src="./assets/images/flag-israel.jpg" (click)="FuncTranslate('HE')" />  </div>
</div> -->
   <!-- <span class="menu" (mouseover)="Menu=!Menu">&#9776;{{'MainMenu'|Translate}}</span>
   <div  (mouseleave)="Menu=!Menu">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <div *ngIf="Menu" class="sidenav">
         <a class="closebtn" (click)="FuncOpenCours()">{{'Open'|Translate}}</a>
         <a  class="closebtn" (click)="FuncShow()">{{'HomePage'|Translate}}</a>
         <a  class="closebtn" (click)="FuncCourses()">{{'Courses'|Translate}}</a>

      </div>
   </div>
</div> -->
